.headerWrapper {
    background: linear-gradient(45deg, rgba(46, 23, 70, 1), rgba(46, 34, 95, 1));
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    color: white;
    width: 100%;
    max-width: 1280px;
}

.customImage {
    width: 23px !important;
    height: 22px !important;
}

.customText {
    width: 116px !important;
    height: 26px !important;
    font-size: 17px !important;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.exitIcon {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: none;
}

.IconExit {
    fill: rgba(255, 255, 255, 0.6);
}

.separator {
    height: 30px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.6);
}

.nameText {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.other {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767.98px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        position: relative;
        z-index: 10000;
        background: linear-gradient(45deg, rgba(46, 23, 70, 1), rgba(46, 34, 95, 1));
        overflow-x: hidden;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo {
        width: 86px;
        height: 36px;
    }

    .customImage {
        width: 13px !important;
        height: 16px !important;
    }

    .customText {
        width: 86px !important;
        height: 19px !important;
        font-size: 12px !important;
    }

    .separator {
        display: none;
    }

    .exitText {
        display: none;
    }

    .exitIcon {
        gap: 8px;
    }

    .nav ul {
        gap: 8px;
    }
}
