.list {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.container {
    width: 100%;
    min-height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text {
    text-align: center;
    margin: 24px auto;
}

/* MOBILE ONLY */
@media only screen and (max-width: 767.98px) {
    .list {
        margin-top: 32px;
        align-items: center;
        gap: 8px;
    }
    .container {
        margin-top: 40px;
    }
}
/* TABLET */
@media only screen and (min-width: 768px) {
    .list {
        width: 704px;
        margin: auto;

        overflow: auto;
        scrollbar-width: thin;
    }
    .container {
        width: 704px;
        max-height: none;
    }

    .headRow {
        width: 704px;
        margin: auto;
        padding: 16px 20px;

        display: flex;
        align-items: center;
        gap: 8px;

        text-transform: capitalize;

        border-radius: 8px;
        background: rgba(82, 59, 126, 0.6);
        box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(50px);
        font-weight: 600;
        font-size: 14px;

        &::after {
            display: none;
        }
    }

    .rowItem {
        text-wrap: wrap;
        color: var(--white);
        flex-grow: 0;
    }

    .rowItem:first-child {
        width: 105px;
        margin-left: 0;
    }
    .rowItem:nth-child(2) {
        width: 56px;
        text-align: center;
    }
    .rowItem:nth-child(3) {
        width: 130px;
    }
    .rowItem:nth-child(4) {
        width: 150px;
    }
    .rowItem:nth-child(5) {
        width: 88px;
        text-align: center;
    }
}
/* DESKTOP */
@media only screen and (min-width: 1280px) {
    .list,
    .container {
        width: 715px;
        max-height: none;
    }
    .headRow {
        width: 715px;
    }
}